@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Message"]</h3>

@section LeftNav {

    
}

<address>
    Sarah Noble<br />
    46 Lord Street, Sunderland, SR3 2DY<br />
    <abbr title="Phone">P:</abbr>
    07493691385
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sarah.noble17@outlook.com">sarah.noble17@outlook.com</a><br />
</address>
